<div id="post-signup" style="display:none">
    <div class="terminal-content">
        <h1>Welcome, <span id="new-username"></span>!</h1>
        <p>Your account has been successfully created.</p>
        <p>We'll need a few details about you to start</p>
        <form id="new-details">
            <p id="balance-p">How much money are you moving into your account?</p>
            <input type="number" id="balance" placeholder="Balance">
            <input type="text" id="Full-name" placeholder="Full Name">
            <input type="text" id="new-email" placeholder="Email">
            <button type="submit" id="submit-new-details" class="btn-submit">[ ENTER ]</button>
        </form>
    </div>
</div>